{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<br>
<br>

<h1 class="text-center signout-heading">{% trans "Sign Out" %}</h1>
<br>
<br>
<br>

<h3 class="signouth3">{% trans 'Are you sure you want to sign out?' %}</h3>
<br>
<br>
<br>
<div class="container">
  <div class="center-form col-md-6" style="margin-top: -40px">

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="signout-button">{% trans 'Sign Out' %}</button>
 
</form>
</div>
</div>


{% endblock %}
