{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}




{% block content %}

<!-- {% if messages %}
<div class="alert alert-success" role="alert">
  {% for message in messages %}
  {% Your registration was successful %}<br/>
  {% endfor %}
</div>

{% endif %} -->
{% include 'messages.html' %}


<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}





<!-- taken from original sign up file now deleted 

{% extends "base.html" %}
<!-- {% block title %}Signup{% endblock %} -->
<!-- {% block content %}
 
<h1>Sign-up  </h1>

<div class="form-group">
  <form method="POST">
    {% csrf_token %}

    {{ form.as_table }}
  
    <li class="nav-item">
        <a href="{% url 'account_login' %}">Sign Up</a>
      </li>
  </form>
</div>
 
  {% endblock %} --> -->
