.bg-col {
    background-color: rgb(1, 116, 129);

}

.navbar {
    position: relative;
    z-index: 1;
}

.bg-color-main {
    background-color: rgb(237,177,79);
    position: relative;
}

.background-image-main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
} 

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(237,177,79);
    opacity: 0.7;

}

.block-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin-top: -600px;
    margin-bottom: 100px;
    padding: 10px;
  

    color: black;
    


}

.footer-info {
    padding-top: 80px;
}