/* General Page Styling */
body {
    margin: 0;
    padding: 0;
}

.page-container {
    margin: 20px;
    min-height: calc(100vh - 20px);
}



/* Remove horizontal scroll */
body {
    overflow-x: hidden;

  
}

.bg-col {
    background-color: rgb(1, 116, 129);

}

.navbar {
    position: relative;
    z-index: 1;
    
}

.nav-link {
    color: white !important;
    font-size: 30px;
    justify-content: end;
   


}

.nav-link:hover {
    color: rgb(237,177,79) !important; 
}

.container-logo {
    max-width: 30%;
}

.bg-color-main {
    height: 100vh;
    /* width: 100vw; */
    /* background-color: rgb(237,177,79);*/
    position: relative;
}

.background-image-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center;
    position: relative; */
    z-index: -1;
} 

/* Overlay coming down over main body image */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(237,177,79);
    opacity: 0.7;
    /* padding-bottom: 2px; */
    z-index: 0;

}

.block-content {
    position: relative;
    /* top: 17%;
    left: 50%;
    transform: translate(-50%, -50%); */
    z-index: 1;
    /* margin-top: -350px;
    margin-bottom: -700px; */
    /* padding: 10px;
  

    color: black; */
    


}

#footer-info {
    padding-top: 11px;
}

.list-inline {
    display: inline-block;
}

/* .footerstyling-target {
    width: 30px;
    height: 30px;
    padding: 20px 1px;
    border-radius: 40%;
    font-size: 12px;
    text-align: center;
    color: rgb(237,177,79); */
    /* background: white; */

/* .i */

h4, h5, .phone, .email, .contribute  {
    color: white;
    
    
}

#footer-info {
    padding-top: 20px;
}

.phone, .email, .contribute {
    font-size: larger;
}


/* postread page */



.page-item,
.page-link {
    color:rgb(1, 116, 129);
    font-weight: bold;
    font-size: 20px;
}

.page-item:hover,
.page-link:hover {
    color:white;

}

.card-bg-col {
    background-color: rgb(1, 116, 129);
    display: block;
    margin: 0 auto;   
}

.card-img-top,
.card-placeholder {
    width: 800px;
    /* height: 1000px; */
    justify-content: center;
    /* background-color: rgb(1, 116, 129); */
    gap: 10px;
}

.card,
 {
    margin: 0 auto;
}

.style-no_of_likes {
    color: rgb(237,177,79);
    font-size: 20px;
   
}

.alike {
    text-decoration: none;
}


.pagination-number {
    font-weight: bold;
    font-size: 20px;
}

.pagination-number:hover {
    color: white;
}

.welcome,
.username {
    font-family: 'Dancing Script';
    color: rgb(237,177,79);
}

/* postdetail page */


.fa-facebook, .fa-twitter-square, .fa-instagram-square {
  font-size: 40px;
  color: white;
}

.fa-facebook:hover,
.fa-twitter-square:hover,
.fa-instagram-square:hover {
    color: rgb(237,177,79);

}

.fa-thumbs-up,
.fa-message {
    font-size: 20px;
    color: rgb(237,177,79);
    background-color: rgb(1, 116, 129);
    padding: 15px;
    
  }



.postlikebutton {
    font-size: 40px;
    color:  rgb(1, 116, 129);


}

.hr-style {
   border-top: 10px solid white;
}

#likes_total {
    color: black;
}


  
  /* .fa-facebook:hover,
  .fa-twitter-square:hover,
  .fa-instagram-square:hover {
      color: rgb(237,177,79);
  
  } */

  .postdetail-home,
  .postdetail-signup,
  .postdetail-login {
  
        /* color:  rgb(237,177,79);
        text-decoration: none;
        font-weight: bolder; */

        
            background-color: rgb(1, 116, 129);
            padding: 15px;
            font-size: 20px;
            color: white;
            text-decoration: none;
           
    


    }

.commentadd-black,
.commentdelete-black {
    color: rgb(237,177,79);
}


.commentadd-hover,
.commentdelete-hover {
    color: white;
}

/*Login Page */

.signin-heading {
    margin-top: 5px;
    color: black;
}

.text-black {
    color: black;
}

.login {
    position: relative;
    z-index: 1000;
}

.primaryAction {

    background-color:  rgb(1, 116, 129);
    padding: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    
    }


/* Home Page */
.card-text {
    color: black
}

.text-center {
    background-color: rgb(1, 116, 129);
    padding: 1rem;
   
    font-size: 40px;
 
  
}

.card-body {
    background-color: rgb(1, 116, 129);
}

.postdetail-link {
    color:  rgb(237,177,79);
    text-decoration: none;
}

.postdetail-link:hover {
    color: white;
}

.card-image {
    padding-top: 8px;
    padding-bottom: 4px;
    align-items: center;
   
    background-color: rgb(1, 116, 129);
  
}
.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh -20px)
    /* margin-top: 20%; */
   /* display: flex; */
    /* padding-left: 280px; */
   /* justify-content: center;
   align-items: center;
   height: 100vh; */
   /* margin-left: 15%; */
}




/* postdetail page */

.detailed-title {
    margin-top: -5px;

}

.blockcontent-postdetail {
    margin-top: -1100px;
}

.postupdate-link,
.postdelete-link,
.postcreate-link {
    color: rgb(237,177,79);
    font-size: 20px;
    text-decoration: none;
}

.postupdate-link:hover,
.postdelete-link:hover,
.postcreate-link:hover {
    color: white;
}

.comment-title {
    text-align: left;
    padding: 4px;
    background: rgb(1, 116, 129);
}

.add-comment {
    color: black;
}

.commentadd-link,
.commentdelete-link {
    background-color: rgb(1, 116, 129);
    padding: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    /* display: inline-block; */
    width: auto;
    height: 50px;
   
}

.commentadd-link:hover,
.commentdelete-link:hover {
    Background-color: rgb(237,177,79);
}


/* Create Post Page */
.create-title {
    margin: 0;
}

.center-form {
    padding-top: 5px;
}


.create-submit {
    background-color:  rgb(1, 116, 129);
    padding: 15px;
    font-size: 20px;
    color: white;
    text-decoration: none;

}


.create-submit:hover {
    background-color: rgb(237,177,79);
}


/* Sign out */


.signout-heading {
    margin-top: 5px;
    color: black;
}

.signout-button {

    background-color:  rgb(1, 116, 129);
    padding: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  
    margin-top: 200px;
    
    }

    .signouth3 {
        text-align: center;
    }

    /* signup */

    .center-form {
        margin: 0 auto;
        max-width: 450px;
    }

    .signup {
        font-size: 30px;
    }

    .signup input {
        width: 100%;
        margin-bottom: 10px;
        font-size: 30px;
       
    }

    .signup button {
        background-color:  rgb(1, 116, 129);
        padding: 10px;
        font-size: 20px;
        color: white;
        text-decoration: none;
       
    }







