/* Remove horizontal scroll */
body {
    overflow-x: hidden;
}

.bg-col {
    background-color: rgb(1, 116, 129);

}

.navbar {
    position: relative;
    z-index: 1;
    
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: rgb(237,177,79) !important; 
}

.container-logo {
    max-width: 30%;
}

.bg-color-main {
    height: 100vh;
    width: 100vw;
    /* background-color: rgb(237,177,79);
    position: relative; */
}

.background-image-main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
} 

/* Overlay coming down over main body image */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 170vh;
    background-color: rgb(237,177,79);
    opacity: 0.7;
    padding-bottom: 2px;

}

.block-content {
    position: relative;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin-top: -350px;
    margin-bottom: -700px;
    padding: 10px;
  

    color: black;
    


}

.footer-info {
    padding-top: 11px;
}

.list-inline {
    display: inline-block;
}

/* .footerstyling-target {
    width: 30px;
    height: 30px;
    padding: 20px 1px;
    border-radius: 40%;
    font-size: 12px;
    text-align: center;
    color: rgb(237,177,79); */
    /* background: white; */

/* .i */

h4, h5, .phone, .email, .contribute  {
    color: white;
    
    
}

#footer-info {
    padding-top: 20px;
}

.phone, .email, .contribute {
    font-size: larger;
}

/* postdetail page */


.fa-facebook, .fa-twitter-square, .fa-instagram-square {
  font-size: 40px;
  color: white;
}

.fa-facebook:hover,
.fa-twitter-square:hover,
.fa-instagram-square:hover {
    color: rgb(237,177,79);

}


/*Login Page */

h1 .signin-heading {
    margin-top: 5px;
}

.login {
    position: relative;
    z-index: 1000;
}