{% extends "base.html" %}

{% block content %}

<h1>Construction Safety Information Blog </h1>

<h>Edit Comment</h>

  <div>


  {% if user.is_authenticated %}
  {% if user.id == post.contributor.id %}

  <form method="POST" enctype="multipart/form-data" >

    {% csrf_token %}
    {{ form.as_p }}

  <input type="submit" value="Submit" />

   <a href="{% url 'postdetail' %}">Home</a>
   {% endif %}
   {% else %}
 Please Login to update post.  

{% endif %}
    
  </form>
  <br>

  </div> 
  {% endblock %}
