{% extends "base.html" %}

{% block content %}

<h3 class="text-center update-title">Update Comment</h3>

  <div class="container">
    <div class="center-form col-md-6" style="margin-top: -40px">

  {% if user.is_authenticated %}
    {% if user.id == post.contributor.id %}


<form method="post"enctype="multipart/form-data" >

    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Submit"  class="create-submit"/>

    <a href="{% url 'commentadd' post.pk %}" class="commentadd-link">Add Comment </a>&nbsp;
    
    <a href="{% url 'commentdelete' post.pk %}" class="commentdelete-link">Delete Comment </a>&nbsp
    <a href="{% url 'postdetail' %}">Detailed Post</a> 
    {% endif %}
    {% else %}
  Please Sign In to add, update and delete comments.  

 {% endif %}

</form>
</div>

<br>
{% endblock %}
