{% extends "base.html" %}

{% block content %}

{% block title %}<h3 class="text-center create-title">Create Post</h3>{% endblock %} 

<!-- <h1>Add Post</h1>
{% for postadd in object_list %}
  <ul>
    <li><a href="{{ postadd.get_absolute_url }}">{{ postadd.name }}</a></li>
  </ul>
{% endfor %} -->
<!-- 
<div> -->

  <div class="container">
    <div class="center-form col-md-6" style="margin-top: -40px">
  
  {% if user.is_authenticated %}
    {% if user.id == post.contributor.id %}
    Please Login to update post. 
 
  {% else %}
  <a href="{% url 'postread' %}"> 
    <!-- <strong>   
    {{ post.name | safe }}
  </strong>
</a>
    <br>
    {{ post.slug | safe }}
    <br>
    {{ post.contributor| safe  }}
    <br>
    {{ post.date | safe }}
    <br>
    {{ post.image | safe }}
    <br>
    {{ post.content | safe }} 
    <br>
    </strong> -->
   </a>
   
  <form method="POST" enctype="multipart/form-data" >

    {% include 'messages.html' %}

    {% csrf_token %}
    {{ form.as_p }}
   
          <input type="submit" value="Submit" class="create-submit"/>
      <a href="{% url 'postread' %}"> 
       
  </form>
   </div>
  </div>

  <br>
        {% endif %}
        {% endif %}
 
    {% endblock %}
