{% extends "base.html" %}

{% block content %}  

{% block title %}<h3 class="detailed-post-title">Detailed Post</h3>{% endblock %} 
           
        <!-- <br>  -->
        <!-- <strong>  
        {{ post.name | safe }}</a>
        </strong> -->
         <!-- <br> -->
         <strong>
        {{ post.contributor| safe  }}
        </strong>
        <!-- <br> -->
        <strong>
        {{ post.date | safe }}
        </strong>
         <!-- <br> -->
        
         {{ post.content | safe }}
         
        <!-- <br>
        <br>
        <br>
        <br> -->
        {% if user.is_authenticated %}
            {% if user.id == post.contributor.id %}
                <a href="{% url 'postupdate' post.pk %}">Update Post</a>

                <a href="{% url 'postdelete' post.pk %}">Delete Post</a> 

                <a href="{% url 'postcreate' post.pk %}">Create Post</a>   

             {% endif %}   
                              
        {% else %}
        
        <a href="{% url 'postread' %}">Home</a>  
        {% endif %}
  
   <hr> 
 

    <h2>Comment On The Post Above....</h2>

    {% if user.is_authenticated %}
    {% if user.id == post.contributor.id %}

        {% if not post.csiblog_comment.all %}
        No Comments Added As Of Yet    
        <a href="{% url 'commentadd' post.pk %}">
        Add Comment
        </a>
        {% else %}
       <a href="{% url 'commentadd' post.pk %}">Add Comment </a>
       {% for comment in post.csiblog_comment.all %}
                 <strong>
                 {{ comment.author | safe }} | {{ comment.added | safe }}
                </strong>
                 <br>
                <br>
                {{ comment.mainbody | safe }}
                <br>
                <br>
        {% endfor %}   
        {% endif %}

<br>
    <a href="{% url 'commentadd' post.pk %}">Add Comment </a>
    <a href="{% url 'commentupdate' post.pk %}">Update Comment </a>
    <a href="{% url 'commentdelete' post.pk %}">Delete Comment </a>

 
<br>
{% endif %}
<form action="{% url 'post_like' post.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit", name="post_like" value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button> - Number of Likes | <strong>{{ no_of_likes }}</strong> 
</form>
{% else %}
<a href="{% url 'postread' %}">Home</a>  
{% endif %}

{% endblock %}   
