{% extends "base.html" %}

{% block content %}    

<h1>Construction Safety Information Blog</h1> 
<h2> Detailed Posts </h2>

<div>

<a href="{% url 'postread' %}">    
{{ post.name | safe }}</a>
<br>
{{ post.contributor| safe  }}
<br>
{{ post.date | safe }}
<br>
{{ post.content | safe }}
<br>
<div>
    <a href="{% url 'postcreate' post.pk %}">Create Post</a> 
    <a href="{% url 'postupdate' post.pk %}">Update Post</a> 
    <a href="{% url 'postdelete' post.pk %}">Delete Post</a> 


</div>

<div>
   <hr> 
    <h2>Comment On The Post Above....</h2>

    {% if not post.csiblog_comment.all %}
       No Comments Added As Of Yet    
       <a href="{% url 'commentadd' post.pk %}">
        Add Comment
       </a>
       
       {% else %}
       <br>
       <a href="{% url 'commentadd' post.pk %}">Add Comment </a>
       <a href="{% url 'commentupdate' post.pk %}">Update Comment </a>
       <br>

            {% for comment in post.csiblog_comment.all %}

           

                {{ comment.author | safe }} | {{ comment.added | safe }}
                <br>
                <br>
                {{ comment.mainbody | safe }}
                <br>
                <br>
                <hr>

            {% endfor %}
       {% endif %}
</div>
<br>
<a href="{% url 'commentadd' post.pk %}">Add Comment </a>
<a href="{% url 'commentupdate' post.pk %}">Update Comment </a>
<br>
{% endblock %}

</div> 




