{% extends "base.html" %}

{% block content %}

<br>
<br>
<h1 class="text-center">Delete Post</h3>
  <br>
  <br>
  <br>

{% if user.is_authenticated %}
{% if user.id == post.contributor.id %}

<form method="post">
    {% csrf_token %}
    <h3 class="delete-post-content">Are you sure you want to delete "{{ object }}" ?</h3>
    <br>
    <br>
    <br>

    <input type="Submit" value="Submit" class="postdelete-submit" >
  {% else %}
  You are not allowed to perform this action.  
</form>
{% endif %}
{% endif %}

{% endblock %}