{% extends "base.html" %}

{% block content %}

<h1>Construction Safety Information Blog - Create Post</h1>
<!-- <h1>Add Post</h1>
{% for postadd in object_list %}
  <ul>
    <li><a href="{{ postadd.get_absolute_url }}">{{ postadd.name }}</a></li>
  </ul>
{% endfor %} -->
<!-- 
<div> -->
  <div>
  <a href="{% url 'postread' %}">    
    {{ post.name | safe }}</a>
    <br>
    {{ post.slug | safe }}
    <br>
    {{ post.contributor| safe  }}
    <br>
    {{ post.date | safe }}
    <br>
    {{ post.image | safe }}
    <br>
    {{ post.content | safe }}
    <br>
    {{ post.excerpt | safe }}</a>


  <form method="post">

    {% csrf_token %}
    {{ form.as_table }}
    
  <input type="submit" value="Submit"/>

  </form>
  <br>
</div> 
  {% endblock %}
