{% extends "base.html" %}

{% block content %}


  <h3 class="text-center update-title">Update Post</h3>

  <div class="container">
    <div class

  {% if user.is_authenticated %}
    {% if user.id == post.contributor.id %}


  <form method="POST" enctype="multipart/form-data" >

    {% csrf_token %}
    {{ form.as_p }}

  <input type="submit" value="Submit" />
  <a href="{% url 'postread' %}"> 
    {% endif %}
    {% else %}
  Please Login to update post.  

 {% endif %}
  </form>
  <br>

 
    


  {% endblock %}
