{% extends "base.html" %}

{% block content %}

{% block title %}
    <h3 class="text-center mx-auto">List of Blog Posts</h3>
{% endblock %} 


    <div class="container-main">
        <div class="row">
            {% for post in object_list %}
            <div class="col-md-4">
            
         
                <div class="card text-white bg-special mb-3 shadow-lg mb-6">
                    <div class="text-center card-image">
                    <img src="{{ post.image.url }}" class="card-img" alt="post-image" style="width: 500px; height: 300px">
                    </div>
                    <div class="card-body">  

                    <p class="card-text ms-3"><strong>Name:</strong>&nbsp;{{ post.slug | safe }}</p>
                    <p class="card-text ms-3"><strong>Author:</strong>&nbsp;{{ post.contributor | safe }}</p>
                    <p class="card-text ms-3"><strong>Date:</strong>&nbsp; {{ post.date | safe }}</p>
                    <p class="card-text ms-3"><strong>Image:</strong>&nbsp; {{ post.image  | safe}}</p>
                    <p class="card-text ms-3"><strong>Content:</strong>&nbsp{{ post.content | slice:":200" | safe }}</p>
                    <a href="{% url 'postdetail' post.pk %}" class="postdetail-link">Read More </a>
                </div>
            </div>
         
            </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}

        </div>
            <div class="row">
        {% endif %}
    {% endfor %}
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; Previous </a>
              <!-- <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a> -->
          </li>
          {% endif %}
          <span>{{ page_obj.number}}</span>
          {% if page_obj.has_next %}
          <li><a class="page-link" href="?page={{ page_obj.next_page_number }}" class="page-link">Next &raquo;</a></li>
          {% endif %}
          <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li> -->
        </ul>
      </nav>
      {% endif %}
    </div>
 {% endblock %}
