{% extends "base.html" %}

{% block content %} 
<div class="blockcontent-postdetail"></div> 

{% block title %}
    <h3 class="text-center detailed-title">Detailed Post</h3>

{% endblock %} 



<div class="container">
    <div class="row">
        <div class="col-md-12">     
            <div class="card text-white bg-special mb-3 shadow-lg mb-6">
                <div class="text-center card-image">
                <img src="{{ post.image.url }}" class="card-img" alt="post-image" style="width: 800px; height: 400px">
                </div>
                <div class="card-body">  

                <p class="card-text ms-3"><strong>Name:</strong>&nbsp;{{ post.slug | safe }}</p>
                <p class="card-text ms-3"><strong>Author:</strong>&nbsp;{{ post.contributor | safe }}</p>
                <p class="card-text ms-3"><strong>Date:</strong>&nbsp; {{ post.date | safe }}</p>
                <p class="card-text ms-3"><strong>Image:</strong>&nbsp; {{ post.image  | safe}}</p>
                <p class="card-text ms-3"><strong>Content:</strong>&nbsp{{ post.content | safe }}</p>
                {% if user.is_authenticated %}
                {% if user.id == post.contributor.id %}
                    <a href="{% url 'postupdate' post.pk %}" class="postupdate-link">Update Post</a> &nbsp; 
    
                    <a href="{% url 'postdelete' post.pk %}" class="postdelete-link">Delete Post</a> &nbsp; 
    
                    <a href="{% url 'postcreate' post.pk %}" class="postcreate-link">Create Post</a> &nbsp; 
    
                 {% endif %}   
                                  
            {% else %}
            
            <a href="{% url 'postread' %}">Home</a>  
            {% endif %}
            </div>
        </div>
        
        </div>
  
    </div>

</div>
           
        <!-- <br>  -->
        <!-- <strong>  
        {{ post.name | safe }}</a>
        </strong> -->
         <!-- <br> -->
         <!-- <strong>
        {{ post.contributor| safe  }}
        </strong> -->
        <!-- <br> -->
        <!-- <strong>
        {{ post.date | safe }}
        </strong> -->
         <!-- <br> -->
<!--         
         {{ post.content | safe }} -->
         
        <!-- <br>
        <br>
        <br>
        <br> -->

        
    
  
   <hr> 
 

    <h2 class="comment-title">Comment On The Post Above....</h2>

    {% if user.is_authenticated %}
    {% if user.id == post.contributor.id %}

        {% if not post.csiblog_comment.all %}
        <br>
        <br>
        <h3>No Comments Added As Of Yet......!</h3>
        <br>
            <br>
            <h5 class="add-comment">
        <!-- <a href="{% url 'commentadd' post.pk %}" class="commentadd-link"> -->
            
        If you would like to add comment select button below.
        <!-- </a> -->
            </h5>
            <br>
            <br>
        {% else %}
       <a href="{% url 'commentadd' post.pk %}">Add Comment </a>
       {% for comment in post.csiblog_comment.all %}
                 <strong>
                 {{ comment.author | safe }} | {{ comment.added | safe }}
                </strong>
                 <br>
                <br>
                {{ comment.mainbody | safe }}
                <br>
                <br>
        {% endfor %}   
        {% endif %}

<br>
    <a href="{% url 'commentadd' post.pk %}" class="commentadd-link">Add Comment </a>&nbsp;
    <a href="{% url 'commentupdate' post.pk %}" class="commentupdate-link">Update Comment </a>&nbsp;
    <a href="{% url 'commentdelete' post.pk %}" class="commentdelete-link">Delete Comment </a>&nbsp

 <br>
            <br>
<br>
<br>
<br>
{% endif %}
<div class="mt-auto text-end">
<form action="{% url 'post_like' pk=post.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
    {% if liked %}
    <div class="col mb-3 px-2">
        <span id="likes_total"><i class="fas fa-solid fa-thumbs-down"></i>{{ no_of_likes }}</span>
    
    <button type="submit", name="postlikes-button" value="{{ post.id }}", class="btn btn-danger mt-1"><i class="fas fa-solid fa-thumbs-down"></i>
        Unlike</button> 

</div>
{% else %}
<div class="col mb-3 px-2">
    <span id="likes_total"><i class="fas fa-solid fa-thumbs-up"></i>{{ no_of_likes }}</span>
    <button type="submit" name="postlikebutton" value="{{ post.pk }}"
    class="btn btn-success mt-1"><i class="fas fa-regular fa-thumbs-up"></i>Like</button>
</div>
{% endif %}
{% else %}

<h4>To like this post please <a href="{% url 'register' %}">register</a> or<a href="{% url 'login' %}">login</a>Thank You.</h4>


<a href="{% url 'postread' %}">Home</a>  

{% endif %}
</form>


</div>
{% endif %}
{% endblock %}   
