{% extends "base.html" %}

{% block content %}

<h1>Construction Safety Information Blog - Sign-up  </h1>

<div class="form-group">
  <form method="POST">
    {% csrf_token %}
    {{ form.ap_p }}
  
      <div>
      <a href="{% url 'postcreate' post.pk %}">Create Post</a> 
      <a href="{% url 'postupdate' post.pk %}">Update Post</a> 
      <a href="{% url 'postdelete' post.pk %}">Delete Post</a> 
  
  
  </div>
  </form>
</div>

  <!-- <ul>
    <li><a href="{{ postadd.get_absolute_url }}">{{ postadd.name }}</a></li>
  </ul> -->


 
  {% endblock %}
